@use "_animations" as *;
@use "_classess" as *;
@use "_variables" as *;

.addElementWindow {
  @include linear-gardinet(80%, 0.7, 86%, 94%);
  @extend %boxShadow;

  padding: 20px;
  color: $white;

  div:first-child{
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  div:last-child{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__form{
    @extend %displayFlex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    color: $white;

    input {
      font-size: 1.2rem;
      padding: 10px;
    }

    #date {
      margin-bottom: 20px;
    }


    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    fieldset {
      div {
        label, input[type=radio] {
          cursor: pointer;
        }
      }
    }

      @media only screen and (max-width: 750px) {
        div {
          display: flex;
          flex-direction: column;
          align-items: center;

          label {
            padding-block: 15px;
          }
        }
      }

    input {
      width: 100%;
    }

    &__addBtn {
      @extend %button;
      background-color: $accept-color;
      transition: all 0.3s;
    }
  
    &__addBtn:hover {
      @include elementHover($accept-light, 0.3s);
    }
  
    &__addBtn:active {
      @include elementHover($accept-dark, 0s);
    }
  }

  

   &__closeBtn {
    padding: 3px 12px;
    font-size: 1.8rem;
    border: none;
    color: $white;
    background-color: $danger;
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;
  }

  &__closeBtn:hover {
    @include elementHover($danger-light, 0.3s);
  }

  &__closeBtn:active {
    @include elementHover($danger-dark, 0.1s);
  }
}