@use "_animations" as *;
@use "_classess" as *;
@use "_variables" as *;

.addElementWindow {
  background-color: $primary-color;
  padding: 20px;
  color: $white;

  div:first-child{
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  div:last-child{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__form{
    @extend %displayFlex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    color: $white;

    fieldset {
      display: flex;
    }

    @media only screen and (max-width: 750px) {
      fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;

        label {
          padding: 10px;
        }
      }
    }

    input {
      width: 100%;
    }
  }

  button {
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    padding: 10px 16px;
    background-color: $accept-color;
    transition: all 0.3s;
    cursor: pointer;
  }

  button:hover {
    @include elementHover($accept-light, 0.3s);
  }

  button:active {
    @include elementHover($accept-dark, 0s);
  }

  &__closeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    color: $white;
    background-color: $danger;
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;
  }

  &__closeBtn:hover {
    @include elementHover($danger-light, 0.3s);
  }

  &__closeBtn:active {
    @include elementHover($danger-dark, 0.1s);
  }
}