@mixin elementHover($color, $time) {
  background-color: $color;
  transition: background-color $time;
}

@mixin linear-gardinet($lowerColorPosition ,$flashVisivility, $flashPosition, $upperColorPosition) {
  background: linear-gradient(-45deg, rgba(220,220,220,0.30) $lowerColorPosition, rgba(255,255,255, $flashVisivility) $flashPosition, rgba(220,220,220,0.30) $upperColorPosition);
}