@use "_variables" as *;

%displayFlex {
  display: flex;
  flex-wrap: wrap;
}

%boxShadow {
  box-shadow: 2px 3px 15px 4px hsla(0, 0%, 20%, 0.5);
}

%listElement {
    display: flex;
    justify-content: space-around;
    padding: 10px 6px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: 0px 2px 8px 0px grey;
    transform: none;
    transition: transform 0.2s;

    span:last-child {
      font-style: italic;
      color: gray;
    }
}

%listElement--hover {
  transform: translateY(-5px);
  transition: transform 0.2s;
}


%button {
  padding: 6px 10px;
  font-size: 1.2rem;
  color: $white;
  border: none;
  border-radius: 6px;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

%snackbar {
  position: fixed;
  top: 90%;
  display: flex;
  justify-content: center;
  max-width: 10vw;
  margin: 10px 0;
  padding: 15px 24px;
  color: $white;
  @extend %boxShadow;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: bolder;
};

%container {
  display: flex;
  justify-content: center;
  align-items: center;
}