@use "_animations" as *;
@use "_classess" as *;
@use "_variables" as *;

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__doneListElement {
    @extend %listElement;
    background-color: hsla(120, 100%, 55%, 0.8)
  }

  &__listElement {
    @extend %listElement;
    background-color: hsla(0, 0%, 100%, 0.8);

    div {
      display: flex;
      justify-content: space-between;
      width: 80%;

      
    }

    div:last-child {
      display: flex;
      width: 20%;
      justify-content: flex-end;

      button {
        padding: 6px 10px;
        font-size: 1.2rem;
        color: $white;
        border: none;
        border-radius: 6px;
        margin-right: 10px;
        background-color: $danger;
        text-align: center;
        vertical-align: middle;
      }

      button:hover {
        @include elementHover($danger-light, 0.3);
      }
    }
  }

  &__listElement:hover {
    transform: translateY(-5px);
    transition: transform 0.2s;
  }
}