@use "_animations" as *;
@use "_classess" as *;
@use "_variables" as *;

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__doneListElement {
    @extend %listElement;
    background-color: hsla(120, 100%, 60%, 0.9)
  }

  &__doneListElement:hover {
    @extend %listElement--hover;
  }

  &__listElement {
    @extend %listElement;
    background-color: hsla(0, 0%, 100%, 0.8);

    div {
      display: flex;
      justify-content: space-between;
      width: 80%;
    }

    div:last-child {
      display: flex;
      width: 20%;
      justify-content: flex-end;

      svg {
        @extend %button;
        transition: background-color 0.3s;
      }
      svg:first-child {
        background-color: $accept-color;
      }

      svg:first-child:hover {
        @include elementHover($accept-light, 0.3);
      }

      svg:last-child {
        background-color: $danger;
      }

      svg:last-child:hover {
        @include elementHover($danger-light, 0.3);
      }
    }
  }

  &__listElement:hover {
    @extend %listElement--hover;
  }
}