@use "_classess" as *;
@use "_variables" as *;
@use "_animations" as*;

.topMenu {
  @extend %displayFlex;
  @extend %boxShadow;
  @include linear-gardinet(82%, 0.7, 89%, 95%);
  justify-content: space-around;
  padding: 1rem;

  button {
    @include elementHover($accept-color, 0.3s);
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    padding: 10px 16px;
    cursor: pointer;
    outline: 3px solid $accept-dark;
  }

  button:hover {
    @include elementHover($accept-light, 0.3s);
  }

}
