$theme: rgba(0, 0, 0, 0.15);
$white: #fff;
$primary-color: #a55eea;
$accept-color: hsl(120, 100%, 60%);
$accept-light: hsl(120, 100%, 80%);
$accept-dark: hsl(120, 100%, 40%);
$danger: hsl(0, 100%, 55%);
$danger-light: hsl(0, 100%, 65%);
$danger-dark: hsl(0, 100%, 45%);
