$theme: rgba(0, 0, 0, 0.15);
$white: #fff;
$info: rgb(26, 178, 255);
$accept-color: hsl(120, 80%, 55%);
$accept-light: hsl(120, 90%, 75%);
$accept-dark: hsl(120, 100%, 35%);
$danger: hsl(0, 100%, 55%);
$danger-light: hsl(0, 100%, 65%);
$danger-dark: hsl(0, 100%, 45%);
$alert: hsl(60, 100%, 70%);

