@use "_topMenu";
@use "_addElement";
@use "_list";
@use "_sidebar";
@use "_snackbar";
@use "_animations" as *;
@use "_classess" as *;
@use "_variables" as *;

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, rgba(83,158,251,1) 0%, rgba(116,142,245,1) 30%, rgba(144,128,239,1) 70%, rgba(174,113,233,1) 100%);
}

.App {
  margin-top: 30px;
  font-size: 1.4rem;
  width: 70vw;

  .container {
    &--snackbarContainer {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
